= form_for(@project) do |f|
    -if @project.errors.any?
        #error_explanation
        h2
        |
        = pluralize(@project.errors.count, "error")
        | prohibited this project from being saved:

        ul
            -@project.errors.full_messages.each do |message|
            li= message

    .field
        = f.label :name
        br
        = f.text_field :name

    #tasks
        = f.fields_for :tasks do |t|
            = render 'projects/task_fields', f: t

        .links
            = link_to_add_association 'add task', f, :tasks, class: "btn btn-default"
        .actions
            = f.submit