p#notice = notice

h1 Listing Projects

table.table.table-condensed
    thead
        tr
            th Name

    tbody
    - @projects.each do |project|
        tr
            td= project.name
            td= link_to 'Show', project
            td= link_to 'Edit', edit_project_path(project)
            td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Project', new_project_path, class: "btn btn-default"
