p#notice= notice
h3= "Project Name: #{@project.name}"
strong Tasks:
- if @project.tasks.present?
    table.table
        thead
            tr
                th Name
                th Description
        tbody
            - @project.tasks.each do |t|
                tr
                    td= t.name
                    td= t.description

- else
    = "No tasks exist"

.pappu
    = link_to 'Print PDF', view_pdf_path(@project), data: {no_turbolink: true}, class: "btn btn-default"
    br
    = link_to 'Edit', edit_project_path(@project), class: "btn btn-default"
    span
    = link_to 'Back', projects_path, class: "btn btn-default"