// Place all the styles related to the Projects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
menu{
  color: #primary;
  a {
    color: $accent;
    &:hover {color: $accentShade;}
  }
  a:visited {
    color: $highlight;
    &:hover {color: $highlightShade;}

  }
}

*/