<html>
<head></head>
<title>RailsWickedPdf
  <%= wicked_pdf_stylesheet_link_tag    "application", :media => "all" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</title>
<body>
<p>From LAout</p>
<%= yield %>
</body>
</html>